@charset "UTF-8";

/* Colour Palette
	– Pastel Red: #A14949, rgb(161, 73, 73);
	– Dark Red: #541E1E rgb(84, 30, 30);
	– Dark Blue: #27536E rgb(39,83,110);
	– Black: #000000, rgb(0, 0, 0);
*/

.footer {
	margin-top: 1.5em;
	border-top: 3px solid rgba(84, 30, 30,0.6);
}

.footer h5 {
	margin-bottom: 0;
	margin: .2em auto 0em;
}

.footer img {
	margin-top: .5rem;
}

@media only screen and (min-width: 34em){
	.map {
		margin: auto 0;
	}
}


