@charset "utf-8";


.header {
	display:block;
	overflow: hidden;
}

.header img {
	display: block;
	margin: 0;
	padding: auto;
}

.logo a,
.logo a:link {
	color:#541E1E;
	text-decoration: none;
	border-bottom: none;
	transition: all 200ms linear;
}

.logo a:hover,
.logo a:focus {
	opacity: .8;
}

.main-nav ul {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.main-nav li {
	border-left: 1px solid rgba(84,30,30,0.4);
	padding: 0 .2em;
}

.main-nav li:first-child {
	border: none;
}

.main-nav a {
	margin: 0 .5em;
}

@media only screen and (min-width: 34em ){

	.search-field {
		margin: 1em 0 .3em;
	}

}

@media only screen and (min-width: 50em){

	.search-field {
		margin: 2em auto .5em;
	}

}

.current {
	opacity: .5;
	padding-top: -2rem;
}

.banner {
	background: #541E1E url("../images/banner-index.jpg") no-repeat center;
	background-size:cover;
	text-align: center;
	padding: 9rem 0 0 0;
}

.banner h2 {
	color: #fff;
	letter-spacing: 4px;
	background-color: rgba(0,0,0,0.6);
	padding:.5rem 0;
}

.banner-about {
	background: url("../images/banner-about.jpg") no-repeat center;
	background-size:cover;
	text-align: center;
	}


