@charset "UTF-8";
/* Colour Palette
	– Pastel Red: #A14949, rgb(161, 73, 73);
	– Dark Red: #541E1E rgb(84, 30, 30);
	– Dark Blue: #27536E rgb(39,83,110);
	– Black: #000000, rgb(0, 0, 0);
*/

.title h3 {
	border-bottom: 1px solid rgba(84,30,30,0.5);
	margin-bottom:0;
	margin-bottom: .5em;
}

.product-box {
	margin:0;
}

.img-preview {
	margin-top: 1.5em;
}

.btns a:first-child {
	margin-top: 1.5em;
}

.btns a {
	margin: .5em 0;
}

.ps {
	border-bottom: 1px solid rgba(84,30,30,0.7);
}

.social {
	margin-top: .75em;
}

.social li {
	margin: .75em 0;
	margin-right:1em ;

}

.social img {
	background-color: rgb(84,30,30);
	padding:.3em;
	vertical-align: middle;
	margin-right: .5em;
}


