.promo-small,
.promo-large {
	background-color:#fff;
	margin-bottom: 0rem;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	margin-bottom: 2rem;
	transition: all 300ms ease-in-out;
}

.promo-large,
.item-grid {
	margin-bottom: 3rem;
}

.promo-small:hover,
.promo-large:hover,
.item-disp:hover,
.kind:hover {
	cursor: pointer;
	opacity: .8;
}

.promo-small img,
.item-disp img {
	padding-bottom: -1rem;
}

.promo-small a,
.promo-large a,
.item-disp a,
.kind a,
.item-disp a {
	display: block;
}

.promo-small h5 {
	margin:0;
	color: rgba(0, 0, 0,0.6)
}

.promo-large h2,
.promo-large p,
.item-disp h2,
.item-disp p {
	color:rgba(0,0,0,0.6);
	margin:0;
}

.promo-small p,
.promo-large p,
.item-disp p {
	margin-top: .5rem;
	padding-bottom: .5rem;
}

.kind,
.item-disp {
	padding-bottom: .5rem;
	transition: all 300ms ease-in-out;
}

.item-disp {
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.mini {
	width: 100px;
}

@media only screen and (min-width: 30em) {

	.kind,
	.item-disp {
		border-right: 1px solid rgba(0,0,0,0.4);
	}

	.kind:last-child {
		border-right: none;
	}

	.item-disp:nth-child(4),
	.item-disp:nth-child(8),
	.item-disp:nth-child(12) {
		border-right: none;
	}

	.item-disp:nth-child(9),
	.item-disp:nth-child(10),
	.item-disp:nth-child(11),
	.item-disp:nth-child(12) {
		border-bottom: none;
	}

}
