@charset "UTF-8";
/* Modular Typography */

/* Colour Palette
	– Pastel Red: #A14949, rgb(161, 73, 73);
	– Dark Red: #541E1E rgb(84, 30, 30);
	– Dark Blue: #27536E rgb(39,83,110);
	– Black: #000000, rgb(0, 0, 0);
*/

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.centered {
	text-align: center;
}

body {
	margin: 0 auto;
	padding: 0;
	max-width: 60rem;
}

html, body {
	font: normal 100%/1.5 'ABeeZee',sans-serif; /* 16px/24px*/
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
	margin: 0 0 1.5rem;
}

.yotta {
	font-size: 3.5832rem;
	line-height: 1.2559;
}

.zetta {
	font-size: 2.9860rem;
	line-height: 1.0047;
	color: rgb(84, 30, 30);
}

h1, .exa {
	font-size: 2.4883rem;
	line-height: 1.2056;
}

h2, .peta {
	font-size: 2.0736rem;
	line-height: 1.4468;
}

h3, .tera {
	font-size: 1.7280rem;
	line-height: 1.7361;
}

h4, .giga {
	font-size: 1.4400rem;
	line-height: 1.0417;
}

h5, .mega {
	font-size: 1.2000rem;
	line-height: 1.2500;
}

h6, .kilo {
	font-size: 1.0000rem;
	line-height: 1.5000;
}

small, .milli {
	font-size: 0.8333rem;
	line-height: 1.8000;
}

.micro {
	font-size: 0.6944rem;
	line-height: 2.1600;
}

h1, h2, h3,
h4, h5, h6,
.brand {
	font-family: 'Advent Pro', sans-serif;
	letter-spacing: 1px;
	color: #A14949;
}

.brand-family {
	font-family: 'Advent Pro',sans-serif;
}

.brand-family-body {
	font-family: 'Open Sans',sans-serif;
	letter-spacing:1px;
}

.brand-color {
	color: #A14949;
}

.brand-transform {
	text-transform: uppercase;
}

::selection{
	background-color: #541E1E;
	color: #fffdfd;
}

a,
a:link,
dfn, abbr, ins {
	color:#541E1E;
	text-decoration: none;
	border-bottom: .1em solid  rgba(161, 73, 73, 0.2);
	transition: all 200ms linear;
}

a:visited {
	color:rgb(84,30,30);
	border-bottom: 0.1em solid rgb(84,30,30);
}

a:hover,
a:focus,
a:active {
	color: rgba(39,83,110, 1.0);
	border-bottom: rgba(39,83,110, 0.4) solid;
}

abbr:hover,
dfn:hover {
	cursor: help;
	border-bottom: .1em dotted  rgba(161, 73, 73, 0.4);
}

blockquote {
	padding: 0 3rem;
	border-left: 1em solid rgba(84,30,30,0.2);
}

.cite {
	font-style: italic;
}

q:before {
	content: '“';
}

q:after {
	content:'”';
}

del {
	text-decoration: line-through;
}

code {
	color: rgb(161,73,73);
}

.unordered li {
	list-style: disc;
	margin-left: 1.5em;
}

.ordered li {
	list-style-type: decimal;
	margin-left: 1.5em;
}

table {
	width: 100%;
}

th {
	text-transform: uppercase;
	font-size: 12px;
	background-color: rgba(84,30,30,0.2);
	padding: .5rem 2.5rem;
	text-align: left;
}

th:first-child {
	padding-right: 50%;
}

tr:first-child,
tr:last-child {
	border: none;
}


tr {
	border-bottom: 1px dashed rgba(0,0,0,0.1);
}


thead th {
	padding: 0 0 -1em;
}

td {
	margin-top: -2rem;
	vertical-align: middle;
}

td:first-child {
	padding-left: 1.5rem;
}






