# Accessibility Testing Report

User testing was conducted by Mark Collantes on March 31st, 2014 between the times of 4:00pm and 7:00pm with the following participants:

Voice Over
---
- Jared Lebel
- Daniela Chavez
- Hasan Yavuz

Keyboard Navigation
---

- Evan Andrew
- Chelsey Frohlick
- Alex Martin

## Tasks

1. Go to the about page
2. Buy a product from the home page
3. Buy any product from the product from product page.

---

## Individual Results & Observations

Voice Over

### Jared Label

- He completed task as expected
– He breezed through all the specific tasks

### Daniela Chavez

- She completed the tasks as expected
– No problems considering site performance found

### Hasan Yavuz

- He completed task as expected
– No problems navigating the site and performing the specific task

Keyboard Navigation

### Evan Andrew

- He completed task as expected
– No problems spotted on the website

### Alex Martin

- He completed tasks as expected
– No problems found with the website.

### Chelsey Frohlick

- She completed all task as completed
– Found some minor glitches that needs fixing.
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No critical problems found

### Serious, Causes Frustration, May Hinder Completion

- No serious problems found

### Minor, Annoying, Won’t Hinder Completion

- One minor glitch found with one of the categories name
