# User Testing Report

User testing was conducted by Mark Collantes on March 24, 2014 between the times of 4:00 PM and 7:00 PM with the following participants:

- {Jared Label}
- {Stphen Pollock}
- {Chelsey Frohlick}

## Tasks

1. Pick an item to checkout
2. Search for an item
3. View a single product page

---

## Individual Results & Observations

### Stephen Pollock

- All task were finished as plan
- Only problem is that on the homepage products need to lead to product details page.

### Jared Label

- He clicked on the link as expected
– Was expecting the actual product to be at the product details

### Chelsey Frohlick

- {She clicked on the link as expected…}
- Complains about buy button on product details page. Must remove, redundant
- Make buy now button on checkout page say checkout
- Add buy now on promo on home page
---

## Trends

### Critical, Needs Fixing, Unable to Complete



### Serious, Causes Frustration, May Hinder Completion



### Minor, Annoying, Won’t Hinder Completion

- Remove buy button on product details page
- Make buy now button on checkout page say checkout
- Add buy now on promo on home page
