<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Spotnik Street Wear</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=ABeeZee|Advent+Pro' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{site.baseurl}}/css/spotnik.css">

</head>

	<body>

		<header role="banner">
			<div class="header">
				<div class="logo unit unit-s-1 unit-m-1-2 unit-l-2-3">
					<a class="img-flex" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.svg" alt="Spotnik Street Wear"></a>
				</div>
				<div>
					<div class="search-field unit unit-s-1 unit-m-1-2 unit-l-1-3">
						<form method="get" action="{{site.baseurl}}/search/" class="search-box " role="search">
						<label for="search" class="srch-only">Search on page</label>
							<input type="search" id="search"
							name="search" placeholder="search">
							<button type="submit">
									<span class="entypo-search"></span>
							</button>
							</form>
					</div>
					<div class="main-nav unit unit-s-1 unit-m-1-2 unit-l-1-3">
						<nav role="navigation">
						<ul class="centered list-group unit">
							<li class="list-group-item list-group-item-inline">
							<a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
							</li>
							<li class="list-group-item list-group-item-inline">
							<a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
							</li>
							<li class="list-group-item list-group-item-inline">
							<a class="{% if page.url == 'products' %}current{% endif %}" href="{{site.baseurl}}/products/">Products</a>
							</li>
						</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		{% if page.showbanner %}
			<div class="banner brand-transform {{page.bannerclass}}">
				<h2>{{page.bannertext}}</h2>
			</div>
		{% endif %}

		<div class="content">
			{{content}}
		</div>

		<footer>

			<div class="footer list-group-item grid">
				<div class="btm-nav list-group-item unit unit-s-1 unit-m-1 unit-l-1">
					<div class="sections unit unit-s-1-3 unit-m-1-3 unit-l-1-3 list-group-item-inline">
						<h5>Pages</h5>
							<ul class=" list-group-item brand milli">
								<li class="list-group-item"><a href="{{site.baseurl}}/">Home</a></li>
								<li class="list-group-item"><a href="{{site.baseurl}}/about/">About</a></li>
								<li class="list-group-item"><a href="{{site.baseurl}}/products/">Products</a></li>
							</ul>
					</div>

					<div class="sections unit unit-s-1-3 unit-m-1-3 unit-l-1-3 list-group-item-inline">
						<h5>Categories</h5>
							<ul class="list-group-item brand milli">
								<li class="list-group-item"><a href="{{site.baseurl}}/products/accessories">Accessories</a></li>
								<li class="list-group-item"><a href="{{site.baseurl}}/products/bottoms">Bottoms</a></li>
								<li class="list-group-item"><a href="{{site.baseurl}}/products/outerwear">Outer Wear</a></li>
								<li class="list-group-item"><a href="{{site.baseurl}}/products/shoes">Footwear</a></li>
								<li class="list-group-item"><a href="{{site.baseurl}}/products/tops">Tops</a></li>
							</ul>
					</div>

					<div class="sections si unit unit-s-1-3 unit-m-1-3 unit-l-1-3 list-group-item-inline">
						<h5>Get in touch</h5>
							<ul class="list-group-item brand milli">
								<li class="list-group-item"><img src="{{site.baseurl}}/images/facebook-icon.png" alt="Facebook Icon"><a href="#">Facebook</a></li>
								<li class="list-group-item"><img src="{{site.baseurl}}/images/twitter-icon.png" alt="Twitter Icon"><a href="#">Twitter</a></li>
								<li class="list-group-item"><img src="{{site.baseurl}}/images/instagram_logo.png" alt="Instagram Logo"><a href="#">Instagram</a></li>
							</ul>
					</div>
				</div>

			<div class="map unit unit-s-1 unit-m-1 unit-l-1 list-group-item-inline" role="contentinfo">
				<p class="milli brand"> © 2014 Spotnik Street Wear</p>
			</div>

		</div>

		</footer>

	</body>
</html>
